body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
h1 {
  align-self: center;
}

.task-list {
  width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.task-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #f3eaea;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item.overdue {
  background-color: #f3e303;
}

.task-item > div, .task-item > form {
  margin-top: 10px;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.task-item > span {
  font-weight: bold;
  flex-grow: 1;
}

.task-item button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-item button.delete-button {
  background-color: #dc3545;
  width: 60px;

}

.task-item button:hover {
  background-color: #0056b3;
}

.task-item button.delete-button:hover {
  background-color: #c82333;
}

.task-item button:focus {
  outline: none;
}

.task-item .details {
  padding: 10px;
  background-color: #e6e2ab;
  border-radius: 5px;
}

.task-item .sub-tasks {
  margin-top: 10px;
  padding-left: 20px;
  border-left: 2px solid #ddd;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-form-input,
.task-form-textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.task-form-input:focus,
.task-form-textarea:focus {
  outline: none;
  border-color: #007BFF;
}

.task-form-textarea {
  resize: vertical;
  height: 100px;
}

.task-form-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.task-form-button:hover {
  background-color: #0056b3;
}
